body {
  overflow-x: hidden;
}

/* *** NAVIGATION STYLES *** */

.usr-img {
    background-color: grey;
    max-width: 128px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.vert-nav-item {
    padding-left: 1rem;
    margin-left: 3px;
    padding-right: 1rem;
}

.vert-nav-item-active {
    border-left-style: solid;
    border-color: #3498DB;
    border-width: 3px;
}

.vert-nav-item-hover {
    border-left-style: solid;
    border-color: #F39C12;
    border-width: 3px;
}

.vert-nav-item-active-format {
    padding-left: 1rem;
    width: 100%;
}

.nav-link .icon {
    max-width: 32px;
    min-width: 32px;
}

.nav-collapse.icon {
    max-width: 32px;
}

.mw-15 {
  max-width: 15% !important;
}

.bg-shadow {
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
}

/* *** END NAVIGATION STYLES *** */

/* *** CONTAINER STYLES *** */

.container-style {
    /* min-height: 30rem; */
    border-style: solid;
    border-color: #444;
    border-top: 0;
    border-width: 1px;
    /* border-radius: 3px; */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: 3px 3px 3px -3px #444, 3px 3px 3px -3px #444, -3px 3px 3px -3px #444;
    -moz-box-shadow:    3px 3px 3px -3px #444, 3px 3px 3px -3px #444, -3px 3px 3px -3px #444;
    box-shadow:         3px 3px 3px -3px #444, 3px 3px 3px -3px #444, -3px 3px 3px -3px #444;
}

.inner-quarter-container-style {
    min-height: 13rem;
    padding: 0;
    border-style: solid;
    border-color: #444;
    border-width: 1px;
    border-radius: 3px;
}

/* *** CONTAINER STYLES *** */
