body {
  overflow-x: hidden;
}

/* *** AUTHENTICATION STYLES *** */

.login-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-input {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0;
    color: #ffffff;
}

.form-control:focus {
  color: unset !important;
  background-color: unset !important;
  border-color: unset !important;
  outline: none !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5) !important;
}

.form-control:focus.login-input {
    box-shadow: unset !important;
}

/* *** END AUTHENTICATION STYLES *** */

/* *** BOOTSTRAP OVERRIDES *** */
.btn-danger {
  color: #fff;
  background-color: #672B2B;
  border-color: #672B2B;
}
/* *** END BOOTSTRAP OVERRIDES *** */

/* *** NAVIGATION STYLES *** */

.usr-img {
    background-color: grey;
    max-width: 128px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.vert-nav-item {
    padding-left: 1rem;
    margin-left: 3px;
    padding-right: 1rem;
}

.vert-nav-item-active {
    border-left-style: solid;
    border-color: #3498DB;
    border-width: 3px;
}

.vert-nav-item-hover {
    border-left-style: solid;
    border-color: #F39C12;
    border-width: 3px;
}

.vert-nav-item-active-format {
    padding-left: 1rem;
    width: 100%;
}

.nav-link .icon {
    max-width: 32px;
    min-width: 32px;
}

.nav-collapse.icon {
    max-width: 32px;
}

.collapse-icon {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(/assets/img/icons/back-svgrepo-com.svg);
    float: right;
    width: 32px;
    height: 32px;
}

.expand-icon {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(/assets/img/icons/expand-svgrepo-com.svg);
    float: right;
    width: 32px;
    height: 32px;
}

.mw-15 {
  max-width: 15% !important;
}

.bg-shadow {
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
}

/* *** END NAVIGATION STYLES *** */

/* *** CONTAINER STYLES *** */

.background-light {
    background-color: #303030;
}

.container-style {
    padding: 2rem;
    /* min-height: 30rem; */
    /* border-style: solid; */
    /* border-color: black; */
    /* border-top: 0; */
    /* border-width: 1px; */
    /* border-radius: 3px; */
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    /* -webkit-box-shadow: 3px 3px 3px -3px black, 3px 3px 3px -3px black, -3px 3px 3px -3px black;
    -moz-box-shadow:    3px 3px 3px -3px black, 3px 3px 3px -3px black, -3px 3px 3px -3px black;
    box-shadow:         3px 3px 3px -3px black, 3px 3px 3px -3px black, -3px 3px 3px -3px black; */
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
}

.inner-quarter-container {
    height: 16rem;
    padding: 5px;
    /* border-style: solid;
    border-color: #444;
    border-width: 1px; */
    border-radius: 2px;
    /* background: #3b3b3b; */
    /* box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5); */
}

.quarter-table thead th {
    position: sticky;
    top: 0;
}

.mini-icon {
    max-width: 20px;
    min-width: 20px;
}

.table-icon {
    background-color: transparent;
    border-color: transparent;
    padding: 0px !important;
}

.table-icon img:hover {
    color: green;
}

.table-header {
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

    background-color: #777;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #777;
}

::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
}

/* .inner-quarter-container thead, .inner-quarter-container tbody {
    display: block;
} */

/* thead, tbody { display: block; width: 100%;} */

/* *** CONTAINER STYLES *** */

/* *** HORIZONTAL NAV STYLES *** */
.nav-tabs .nav-link {
    background-color: #303030 !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;

}

.nav-tabs .nav-link.active {
    border-top-style: solid !important;
    border-top-color: #3498DB !important;
    border-top-width: 3px !important;
}

.nav-tabs {
    z-index: 0;
}

.nav-link-hover {
    border-top-style: solid !important;
    border-top-color: #F39C12 !important;
    border-top-width: 3px !important;
}
/* *** ********************* *** */
